.c-container {
    width: 100%;
    padding-right: $space_xl;
    padding-left: $space_xl;
    margin-right: auto;
    margin-left: auto;
        &__2column {
            @media screen and (min-width:768px){
            display: flex;
            justify-content: center;
        }
    }
}
.c-footerContainer {
    width: 100%;
}