@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css2?family=BIZ+UDGothic&display=swap);@-webkit-keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ==========================================================================
Foundation
========================================================================== */

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */

/* Reset box-model and set borders */

/* ============================================ */

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */

/* ============================================ */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */

/* ============================================ */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/* Vertical rhythm */

/* ============================================ */

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */

/* ============================================ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */

/* ============================================ */

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */

/* ============================================ */

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */

/* ============================================ */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */

/* ============================================ */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */

/* ============================================ */

/**
 * Prevent vertical alignment issues.
 */

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */

/* ============================================ */

/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */

option {
  padding: 0;
}

/**
 * Reset to invisible
 */

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */

[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */

label[for] {
  cursor: pointer;
}

/* Interactive */

/* ============================================ */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */

[contenteditable]:focus {
  outline: auto;
}

/* Tables */

/* ============================================ */

/**
1. Correct table border color inheritance in all Chrome and Safari.
*/

table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html,
body {
  width: 100%;
  color: #333333;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.8;
  font-family: "BIZ UDGothic", sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.l-header {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 56px;
  font-size: 20px;
}

.l-main {
  width: 100%;
  background-color: #fff;
  margin-top: 56px;
  margin-bottom: 50px;
}

.l-footer {
  margin-top: 16px;
  width: 100%;
  height: 72px;
  line-height: 56px;
  font-size: 8px;
  text-align: center;
}

.c-button__default {
  padding: 8px 20px;
  background-color: #50c878;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.c-button__default:hover {
  opacity: 0.8;
}

.c-button__default--alert {
  background-color: #af3787;
  padding: 8px 24px;
  color: #fff;
  border-radius: 8px;
}

.c-button__default--alert:hover {
  opacity: 0.8;
}

.c-button__default--cancel {
  background-color: #af3787;
  font-size: 12px;
  padding: 8px 8px;
  color: #fff;
  border-radius: 8px;
  line-height: 2;
  cursor: pointer;
}

.c-button__default--cancel:hover {
  opacity: 0.8;
}

.c-button__default--gray {
  background-color: #999;
  padding: 8px 20px;
  color: #fff;
  border-radius: 8px;
}

.c-button__share {
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid;
  transition: all 0.5s;
}

.c-button__share:hover {
  transition: all 0.5s;
}

.c-container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .c-container__2column {
    display: flex;
    justify-content: center;
  }
}

.c-footerContainer {
  width: 100%;
}

.c-form__container {
  width: 100%;
}

.c-form__control {
  width: 100%;
  margin-top: 12px;
}

.c-form__inputContainer {
  width: 100%;
}

.c-form__input {
  width: 100%;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}

.c-form__input:focus {
  outline: none;
  background-color: #eeeeee;
}

.c-form__inputNumber {
  width: 25%;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}

.c-form__inputNumber:focus {
  outline: none;
  background-color: #eeeeee;
}

.c-form__select {
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  width: 100%;
  padding: 8px;
  border: 1px solid #999;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}

.c-form__buttonArea {
  margin-top: 24px;
  width: 100%;
  text-align: right;
}

.c-form__buttonArea--search {
  text-align: center;
  margin-top: 12px;
}

.c-pageTitle__container {
  width: 100%;
}

.c-pageTitle__text {
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .c-pageTitle__text {
    font-size: 24px;
  }
}

.c-list__group {
  border-top: 1px solid #999;
}

.c-list__item {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #999;
}

.c-content__header {
  display: flex;
  justify-content: space-between;
}

.c-content__title {
  font-size: 20px;
}

.c-content__headlink {
  line-height: 3;
}

.c-content__headtext {
  font-size: 12px;
  color: #999;
}

.c-content__area {
  width: 100%;
}

.c-content__link:hover {
  opacity: 0.6;
}

.c-content__card {
  margin-right: 4px;
  margin-left: 4px;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 8px;
  width: 100%;
  min-width: 185px;
  min-height: 280px;
  overflow: hidden;
}

@media screen and (min-width: 414px) {
  .c-content__card {
    width: 280px;
  }
}

.c-content__imageContainer {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

@media screen and (min-width: 414px) {
  .c-content__imageContainer {
    width: 100%;
    height: 200px;
  }
}

.c-content__image {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 414px) {
  .c-content__image {
    width: 100%;
    height: 200px;
  }
}

.c-content__body {
  width: 100%;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 12px;
}

.c-content__text {
  font-size: 0.9rem;
  line-height: 2;
}

.c-content__buttonArea {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}

.c-content__1column {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #333333;
  padding: 30px;
  border-radius: 24px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-content__1column {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.c-content__linkList {
  box-sizing: border-box;
  width: 100%;
  padding: 30px;
  border-radius: 24px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-content__linkList {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
  }
}

.c-pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 24rem;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

.c-pagination__list {
  display: list-item;
  text-align: center;
}

.c-pagination__link {
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .c-article__container {
    width: 35%;
    position: relative;
    margin-right: 8px;
    margin-left: 8px;
  }
}

.c-article__textContainer {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .c-article__textContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}

.c-article__title {
  text-align: center;
  font-size: 30px;
}

.c-article__text {
  margin-top: 8px;
  font-size: 14px;
  padding: 8px;
}

@media screen and (min-width: 768px) {
  .c-article__text {
    padding: 20px;
  }
}

.p-menu {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 20px;
  padding-right: 16px;
  padding-left: 16px;
  justify-content: space-between;
  align-items: center;
}

.p-menu__menuButtonContainer {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 3;
}

.p-menu__button {
  text-align: center;
}

.p-menu__button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 414px) {
  .p-menu {
    font-size: 24px;
    width: 80vw;
  }

  .p-menu--button span {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .p-menu {
    width: 30vw;
  }
}

.p-toggleMenu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(230, 230, 230, 0.7);
  transform: translateX(100vw);
  transition: all 0.3s linear;
}

.p-toggleMenu.is-active {
  transform: translateX(0);
}

.p-toggleMenu__item {
  width: 100%;
  height: auto;
  padding: 0.5em 1em;
  text-align: center;
}

@media screen and (min-width: 414px) {
  .p-toggleMenu {
    width: 80vw;
  }
}

@media screen and (min-width: 768px) {
  .p-toggleMenu {
    width: 30vw;
  }
}

.p-footerText {
  font-size: 8px;
}

@media screen and (min-width: 768px) {
  .p-auth__container {
    width: 500px;
  }
}

@media screen and (min-width: 768px) {
  .p-mypage__container {
    width: 760px;
  }
}

@media screen and (min-width: 1000px) {
  .p-mypage__container {
    width: 1000px;
  }
}

.p-mypage__listWraper {
  margin-top: 16px;
}

.p-mypage__showSellProduct {
  margin-top: 50px;
}

.p-mypage__showSoldProduct {
  margin-top: 16px;
}

.p-mypage__gridWrapper {
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-mypage__gridWrapper {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .p-mypage__gridWrapper {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
}

@media screen and (min-width: 768px) {
  .p-show__container {
    width: 760px;
  }
}

@media screen and (min-width: 1000px) {
  .p-show__container {
    width: 1000px;
  }
}

.p-show__listWraper {
  margin-top: 16px;
}

.p-show__showSellProduct {
  margin-top: 50px;
}

.p-show__showSoldProduct {
  margin-top: 16px;
}

.p-show__gridWrapper {
  display: inline-block;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-show__gridWrapper {
    display: inline-block;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .p-show__gridWrapper {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
  }
}

.p-lpImageArea__container {
  width: 100%;
  position: relative;
}

.p-lpImageArea__textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.p-lpImageArea__text {
  font-size: 52px;
}

.arrow {
  width: 100%;
  position: relative;
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

.arrow::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 0;
  border-top: solid 2px #999;
  border-right: solid 2px #999;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -4px;
  transform: rotate(45deg);
}

.is-invalid {
  border: 1px solid #ff0000;
}

.c-pagination .is-active {
  opacity: 0.5;
}

.c-pagination .disabled {
  opacity: 0.5;
}

.tag {
  display: inline-block;
  padding: 8px;
  box-sizing: border-box;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  background-color: #eeeeee;
  border: none;
  border-radius: 8px;
}

.u-color__twitter {
  color: #1da1f2;
}

.u-color__twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

